@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Description of Bird Watchers World</h3>
<br />
<p style="color: #fff; font-size: 20px;">This project was a part of the Red Badge semester of Eleven Fifty Academy's Software
                        Development course. The main function of the application is to let a user create an account,
                        catalog birds seen, and search for birds seen by color and name.</p>
