@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 jumbotron">
        <h1 style="color: #333333">Bird Watchers World</h1>
        <p style="color: #333333" class="lead">Did you just see a bird? Click the button below!</p>
        <p><a href="../Bird/Create" class="btn btn-primary btn-lg">Spot Bird &raquo;</a></p>
    </div>
    <div style="padding-left: 5em; margin-top: 2em;" class="col-md-6">
        <h2>Search For a Bird</h2>
        @using (Html.BeginForm("Index", "Bird", FormMethod.Get))
        {
    <p>
        @Html.TextBox("SearchString", null, new { placeholder = "What color was the bird?" })
        @*<input type="text" placeholder="What color was the bird?" style="border:none; margin-left: 4.2em; margin-top: 2em;">*@
        <input style="color:black" type="submit" value="Search" />
    </p>
        }
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <h2>The Early Bird Gets The Worm!</h2>
        <p style="font-size: 22px;">
            To begin your journey, click the "Register" button below or at the top right of the screen. You will then create an account 
            with Bird Watchers World and become an official Spotter. Any Sightings of Birds that you have will be tied to your account 
            so that everyone knows who the King of Birds truly is!
        </p>
        <p><a class="btn btn-default" href="../Account/Register">Register &raquo;</a></p>
    </div>
</div>